<!DOCTYPE html>
<html lang="en">
<head>
   <%- include('partials/head') %>
</head>
<body>
    <%- include('partials/nav') %>
    
    <div class="container">
        <div class="row mt-4">
            <div class="col">
                <h1>Mes albums</h1>
                <a href="/albums/create" class="bnt bnt-primary mt-2 mb-4">
                    nouvelle album
                </a>
            </div>
        </div>
    </div>
    
    <%- include('partials/script') %>
</body>
</html>