<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>todolist</title>
</head>
<body>
    <h1>todo list</h1>
    <form method="POST" action="/task">
        <input type="text" placeholder="ajouté une nouvelle tache"
        name="task" autofocus required>
        <button type="submit">ajouter</button>
    </form>

    <h3>Tâche</h3>
    <ul>
        <% tasks.forEach((task, idx) => { %> 
            <% if (!task.done) {%>
                <li>
                    <%= task.title %> | <a href="/task/<%=idx %>/done ">terminer</a>
                </li>
            <% } else { %>
                <li>
                    <s> <%= task.title %> </s> |  <a href="/task/<%=idx %>/delete">supprimer</a>
                </li>
                <% } %>
        <% }) %>

    </ul>
</body>
</html>